{{ if not (.Param "hideMadeWithLine") }}<footer class="social-footer">
  <!-- <p><strong>You can stalk me at</strong></p> -->

  <p>
    gjx00 at :
    <a href="https://www.x.com/gjx00_" target="_blank" rel="noopener">
      <img src="/images/icons/x.png" alt="social-icon"> Twitter / X
    </a> /
    
    <a href="https://github.com/gjustoo" target="_blank" rel="noopener">
      <img src="/images/icons/github.png" alt="social-icon"> GitHub
    </a> /
    
    <a href="https://www.linkedin.com/in/gjustoo" target="_blank" rel="noopener">
      <img src="/images/icons/linkedin.png" alt="social-icon"> LinkedIn
    </a>
  </p>
</footer>{{ end }}
