{{ if not (.Param "hideMadeWithLine") }}<footer class="social-footer">
  <!-- <p><strong>You can stalk me at</strong></p> -->

  <p>
    gjx00 at :
    <a href="https://www.x.com/gjx00_" target="_blank" rel="noopener">
      <img src="{{ "images/icons/x.png" | relURL }}" alt="social-icon">
    </a> /
    <a href="https://github.com/gjustoo" target="_blank" rel="noopener">
      <img src="{{ "images/icons/github.png" | relURL }}" alt="social-icon">
    </a> /
      <img src="{{ "images/icons/linkedin.png" | relURL }}" alt="social-icon">    </a>
  </p>
</footer>{{ end }}
